/* buttons */
.deleteTaskBtn {
  background: none;
  color: #de0b0b;
  font-size: x-large;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
}
.deleteTaskBtn:hover {
  color: #ff0000;
}

/* page style */
.taskSheet {
  padding: 1rem;
  border-radius: 4px;
  background-color: white;
  width: 500px;
  max-width: 100%;
  box-shadow: -2px 3px 6px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 3px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 3px 6px 0px rgba(0, 0, 0, 0.75);
  height: 80%;
  font-family: "sans-serif";
}

/* task Item */
.taskItem {
  width: 100%;
  border-bottom: 1px solid rgb(0, 0, 0);
  display: flex;
  align-items: center;
}

.taskCheckbox {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

/* new task form  */
.newTaskForm {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem; /* espacio entre input y botón */
  margin-bottom: 2rem;
}

.newTaskForm input {
  width: 90%;
  border: 0;
  border-bottom: 1px solid black;
  background-color: transparent;
  outline: none;
  font-size: 1rem;
}

.newTaskForm input:focus {
  border-bottom: 2px solid #007bff; /* azul al enfocar */
}
.addBtn {
  width: 10%;
  background-color: #28a745; /* verde */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}