@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
:root{
  --secondary-color: #ffd7d7;
  --sheet-color: #fff8c3;
  --primary-color: #ff5e5eba;
  --main-font-style: 'Handlee', cursive;  
  --main-font-color: #333333;
  --main-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}
body,
html, #root{
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100vh;
  width: 100%;
  font-family: var(--main-font-style);
}
#root {
  background-color: var(--secondary-color);
}
header {  
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: white;
  padding: 16px 0;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
button {
  margin: 0;
  border: 0;
  border-radius: 4px;
}