@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
:root{
  --primary-color: #26213fba;
  --secondary-color: #ffffff;
  --sheet-color: #fff8c3;
  --main-font-style: 'Handlee', cursive;  
  --main-font-color: #333333;
  --main-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}
body,
html, #root{
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100vh;
  width: 100%;
  font-family: var(--main-font-style);
}
#root {
  background-color: var(--secondary-color);
}
header {
  padding: 1%;
  height: 5rem;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* título a la izquierda, botón a la derecha */
  background-color: var(--primary-color);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
  margin: 0;
  border: 0;
  border-radius: 4px;
}